@import url("https://fonts.googleapis.com/css2?family=Akatab&family=Fasthand&family=Open+Sans:wght@500&display=swap");

/* Imported fonts  
font-family: 'Fasthand', cursive;
font-family: 'Open Sans', sans-serif; */
.text_openSans {
  font-family: "Open Sans", sans-serif;
}

.banner {
  height: 22rem;
  font-family: "Akatab", sans-serif;
}

.banner1 {
  background-image: url(./Assets/Images/banner1.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

.banner2 {
  background-image: url(./Assets/Images/banner2.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

.restaurant-bg {
  background-image: url(./Assets/Images/banner2.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

.feature_img {
  height: 199px;
  width: 105px;
}